{% extends "nav_footer.j2" %} 
  
{% block content %}

<div class="container justify-content-center text-center">
  <h1 class="display-3">Film Production Sales Database</h1>

  <p class="lead">
    This app is a simple CRUD app.
  </p>
  <p class="lead">
    Built with Python, Flask, Bootstrap, & MySQL.
  </p>
  <p class="lead">Click the <img src="static/img/movie-camera_1f3a5.png" height=32 width=32> or <img src="static/img/clapper-board_1f3ac.png" height=32 width=32> to return to this page.</p>
</div>

{% endblock %}

