{# Renders head and navbar on all pages #}
{% block navbar %}

{# extending head content to all pages w/ navbar #}
{# using Bootstrap for frontend via CDN delivery #}
<head>
  <title>Film Production Sales Database</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <link rel="stylesheet" crossorigin="anonymous"
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" >
    
  <script crossorigin="anonymous"
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" >
  </script>
</head>

{# NAVBAR  #}
<nav class="navbar navbar-expand-sm bg-light justify-content-center">
  <div class="d-flex">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="navbar-brand" href="/">
            <img src="../../static/img/movie-camera_1f3a5.png" width="40" height="40">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/studios">Studios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/productions">Productions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/orders">Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/salesreps">Sales Reps</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/vendors">Vendors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/termscodes">Terms Codes</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="/">
            <img src="../../static/img/clapper-board_1f3ac.png" width="40" height="40">
          </a>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
{# PAGE CONTENT RENDERS HERE #}
{%- endblock %}

{# FOOTER extends to all pages #}
{% block footer %}
  <footer class="footer text-center">
    <div class="container">
      <span class="text-muted">
        <p>&copy; Ethan Riemer</p>
      </span>
  </footer>
{%- endblock %}
