<!doctype html>
{% extends "nav_footer.j2" %}
{% block content %}
<table>
<thead>
<tr>
    {% for key in orderdetails[0].keys() %}
    <th>{{key}}</th>
    {% endfor %}
</tr>
<tbody>
{% for orderdetail in orderdetails %}
<tr>
    {% for val in order.keys() %}
    <td>{{orderdetail[val]}}</td>
    {% endfor %}
</tr>
{% endfor %}
</tbody>
</table>
{{super()}}
{% endblock %}