{% extends "nav_footer.j2" %}

{% block content %}

<div class ="container">
<legend class="d-flex float-none w-auto p-2 justify-content-center">Order ID #{{orders[0]['Order ID']}} from {{ orders[0]['Production'] }} </legend>
    <table class="table">
        <thead class="align-center text-center">
            <tr>
                {% for key in orders[0].keys() %}
                    <th>{{key}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr class="align-middle text-center">
                {% for val in order.keys() %}
                    <td>{{order[val]}}</td>
                {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    <legend class="d-flex float-none w-auto p-2 justify-content-center">Line Items</legend>
    <table class="table">
        <thead class="align-center text-center">
            <tr>
                {% for key in orderdetails[0].keys() %}
                    <th>{{key}}</th>
                {% endfor %}
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for product in orderdetails %}
            <tr class="align-middle text-center">
                {% for val in product.keys() %}
                    <td>{{product[val]}}</td>
                {% endfor %}
                <td>
                    <a href="/orders/deleteproduct/{{ orderdetails[ 'ID' ] }}"><button type="submit" class="btn btn-danger">Delete</button></a>
                </td>
            {% endfor %}
        </tbody>
    </table>
</div>



<div class="text-center">
    <a href="/orders"><button type="submit" class="btn btn-warning">Back</button><a>
</div>

{% endblock %}
