{% extends "nav_footer.j2 %}

{% blcok content %}

<div class="container">
<legend class="d-flex float-none w-auto p-2 justify-content-center">Productions</legend>
    <table class="table">
        <thead class="align-center text-center">
            <tr>
                {% for key in productions[0].keys() %}
                    <th>{{key}}</th>
                {% endfor %}
            </tr>
        <tbody>
            {% for pdouctions in productions %}
                <tr class="align-middle text-center">
                    {% for val in productions.key() %}
                    <td>{{productions[val]}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </tables>
</div>

<form class="container" style="max-width:35vw" action="" method="POST">
    <legend class="float-none w-auto p-2 text-center">Add New Production</legend>
    <div class= "row g-3">
        <div class="col-md-12">
            <label for="inputProductionName" class="form-label">Production Name</label>
            <input type="text" class="form-control" id="inputProductionName" name="inputProductionName" required>
        </div>
        <div class="col-md-12">
            <label for="inputProductionName" class="form-label">Production Name</label>
            <input type="text" class="form-control" id="inputProductionName" name="inputProductionName" required>
        </div>
        <div class="col-md-12">
            <label for="inputProductionName" class="form-label">Production Name</label>
            <input type="text" class="form-control" id="inputProductionName" name="inputProductionName" required>
        </div>
        <div class="col-md-12">
            <label for="inputProductionName" class="form-label">Production Name</label>
            <input type="text" class="form-control" id="inputProductionName" name="inputProductionName" required>
        </div>
        <div class="col-md-12">
            <label for="inputProductionName" class="form-label">Production Name</label>
            <input type="text" class="form-control" id="inputProductionName" name="inputProductionName" required>
        </div>
        <div class="col-md-12">
            <label for="inputProductionName" class="form-label">Production Name</label>
            <input type="text" class="form-control" id="inputProductionName" name="inputProductionName" required>
        </div>
        <div class="col-md-12">
            <label for="inputProductionName" class="form-label">Production Name</label>
            <input type="text" class="form-control" id="inputProductionName" name="inputProductionName" required>
        </div>
        <div class="col-md-12">
            <label for="inputProductionName" class="form-label">Production Name</label>
            <input type="text" class="form-control" id="inputProductionName" name="inputProductionName" required>
        </div>
        <div class="col-12 text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>

{% endblock %}