{% extends "nav_footer.j2" %}

{% block content %}

{# Table of ALL productions #}
<div class = "container">
<legend class="d-flex float-none w-auto p-2 justify-content-center">All Productions</legend>
    <table class="table">
        <thead class="align-center text-center">
            <tr>
                {% for key in productions[0].keys() %}
                    <th>{{key}}</th>
                {% endfor %}
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for production in productions %}
            <tr class="align-middle text-center">
                {% for val in production.keys() %}
                    <td>{{production[val]}}</td>
                {% endfor %}
                <td>
                    <a href="/productions/edit/{{ production[ 'ID' ]}}"><button type="submit" class="btn btn-info">Edit</button></a>
                </td>
                <td>
                    <a href="/productions/delete/{{ production['ID'] }}"><button type="submit" class="btn btn-danger">Delete</button><a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{# Container for new production #}
<div class="d-flex justify-content-center">
    {# New production form #}
    <div class="d-flex justify-content-center">
        <div class="col-md-8">
            <form class="container" action="" method="POST">
                <legend class="float-none w-auto p-2 text-center">Add New Production</legend>
                <div class= "row g-3">
                    <div class="col-md-12">
                        <label for="inputStudio" class="form-label">Studio</label>
                        <select type="text" id="inputStudio" class="form-select" name="inputStudio" required>
                            <option value="" selected hidden>Select...</option>
                            <option value="NULL" selected hidden>None</option>
                            {% for studio in studios%}
                            <option value="{{ studio['studioID'] }}">{{studio['studioName']}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-12">
                        <label for="inputName" class="form-label">Production Name</label>
                        <input type="text" class="form-control" id="inputName" name="inputName" required>
                    </div>
                    <div class="col-md-6">
                        <label for="inputContact" class="form-label">Production Contact</label>
                        <input type="text" class="form-control" id="inputContact" name="inputContact" required>
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="inputEmail" name="inputEmail" required>
                    </div>
                    <div class="col-12">
                        <label for="inputAddress" class="form-label">Address Line 1</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" name="inputAddress" required>
                    </div>
                    <div class="col-12">
                        <label for="inputAddress2" class="form-label">Address Line 2</label>
                        <input type="text" class="form-control" id="inputAddress2" placeholder="Floor, Suite, or Building"name="inputAddress2">
                    </div>
                    <div class="col-md-6">
                        <label for="inputCity" class="form-label">City</label>
                        <input type="text" class="form-control" id="inputCity" name="inputCity" required>
                    </div>
                    <div class="col-md-4">
                        <label for="inputState" class="form-label">State</label>
                        <select id="inputState" class="form-select" id="inputState" name="inputState" required>
                            <option value="" selected hidden>Select...</option>
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="AZ">Arizona</option>
                            <option value="AR">Arkansas</option>
                            <option value="CA">California</option>
                            <option value="CO">Colorado</option>
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="DC">District Of Columbia</option>
                            <option value="FL">Florida</option>
                            <option value="GA">Georgia</option>
                            <option value="HI">Hawaii</option>
                            <option value="ID">Idaho</option>
                            <option value="IL">Illinois</option>
                            <option value="IN">Indiana</option>
                            <option value="IA">Iowa</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                            <option value="LA">Louisiana</option>
                            <option value="ME">Maine</option>
                            <option value="MD">Maryland</option>
                            <option value="MA">Massachusetts</option>
                            <option value="MI">Michigan</option>
                            <option value="MN">Minnesota</option>
                            <option value="MS">Mississippi</option>
                            <option value="MO">Missouri</option>
                            <option value="MT">Montana</option>
                            <option value="NE">Nebraska</option>
                            <option value="NV">Nevada</option>
                            <option value="NH">New Hampshire</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NM">New Mexico</option>
                            <option value="NY">New York</option>
                            <option value="NC">North Carolina</option>
                            <option value="ND">North Dakota</option>
                            <option value="OH">Ohio</option>
                            <option value="OK">Oklahoma</option>
                            <option value="OR">Oregon</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="RI">Rhode Island</option>
                            <option value="SC">South Carolina</option>
                            <option value="SD">South Dakota</option>
                            <option value="TN">Tennessee</option>
                            <option value="TX">Texas</option>
                            <option value="UT">Utah</option>
                            <option value="VT">Vermont</option>
                            <option value="VA">Virginia</option>
                            <option value="WA">Washington</option>
                            <option value="WV">West Virginia</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WY">Wyoming</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="inputZip" class="form-label">Zip</label>
                        <input type="text" class="form-control" id="inputZip" name="inputZip" pattern="[0-9]{5}" required>
                    </div>
                    <div class="col-12">
                    </div>
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>  
            </form>
        </div>
    </div>
</div>

{%- endblock content %}