{% extends "nav_footer.j2" %}

{% block content %}

<div class="container" style="max-width:35vw">
<legend class="d-flex float-none w-auto p-2 justify-content-center">Sales Reps</legend>
    <table class="table">
        <thead class="align-center text-center">
            <tr>
                {% for key in salesreps[0].keys() %}
                    <th>{{key}}</th>
                {% endfor %}
                <th>Edit</th>
            </tr>
        <tbody>
            {% for salesreps in salesreps %}
                <tr class="align-middle text-center">
                    {% for val in salesreps.keys() %}
                    <td>{{salesreps[val]}}</td>
                    {% endfor %}
                    <td>
                        <a href="/salesreps/edit/{{ salesreps[ 'ID' ] }}"><button type="submit" class="btn btn-info">Edit</button></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<form class="container" style="max-width:35vw" action="" method="POST">
    <legend class="float-none w-auto p-2 text-center">Add New Sales Rep</legend>
    <div class= "row g-3">
        <div class="col-md-12">
            <label for="inputName" class="form-label">Name</label>
            <input type="text" class="form-control" id="inputName" name="inputName" required>
        </div>
        <div class="col-md-12">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="text" class="form-control" id="inputEmail" name="inputEmail" required>
        </div>
        <div class="col-12 text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>  
</form>

{% endblock %}
