{% extends "nav_footer.j2" %}

{% block content %}

{# Edit studio form. value field calls all fields of row #}
    <div class="container">
    <form class="container col-md-6 justify-content-center" action="" method="POST">
        <legend class="float-none w-auto p-2 text-center">Edit Sales Rep</legend>
        <div class= "row g-3">
            <div class="col-12">
                <label for="editName" class="form-label">Sales Rep Name</label>
                <input type="text" class="form-control" id="editName" name="editName" value="{{ salesreps['salesRepName']}}" required>
            </div>
            <div class="col-md-6">
                <label for="editEmail" class="form-label">Email</label>
                <input type="email" class="form-control" id="editEmail" name="editEmail" value="{{ salesreps['salesRepEmail'] }}" required>
            </div>
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-success">Update</button>  
                <a href="/salesreps" class="btn btn-danger">Cancel<a>
            </div>  
    </form>
</div>

{% endblock %}