{% extends "nav_footer.j2" %}

{% block content %}

<div class="container" style="max-width:35vw">
<legend class="d-flex float-none w-auto p-2 justify-content-center">Terms Codes</legend>
    <table class="table">
        <thead class="align-center text-center">
            <tr>
                {% for key in termscodes[0].keys() %}
                    <th>{{key}}</th>
                {% endfor %}
            </tr>
        <tbody>
            {% for termscodes in termscodes %}
                <tr class="align-middle text-center">
                    {% for val in termscodes.keys() %}
                    <td>{{termscodes[val]}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<form class="container" style="max-width:35vw" action="" method="POST">
    <legend class="float-none w-auto p-2 text-center">Add Terms Code</legend>
    <div class= "row g-3">
        <div class="col-md-12">
            <label for="inputCode" class="form-label">Code</label>
            <input type="text" class="form-control" id="inputCode" name="inputCode" required>
        </div>
        <div class="col-md-12">
            <label for="inputName" class="form-label">Name</label>
            <input type="text" class="form-control" id="inputName" name="inputName" required>
        </div>
        <div class="col-12 text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>  
</form>

{% endblock %}
